<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head">

</head>
<body>
    <div class="head" th:replace="partials/header.html :: navbar"></div>

    <div class="container">
        <h2>Create A New Post</h2>
        <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
            <input id="title" name="title" placeholder="title" type="text" th:value="*{title}"/>
            <textarea style="height: 400px;" class="body-style" id="body" placeholder="your blog here" th:field="*{body}"></textarea>
            <button class="btn waves-effect waves-light" type="submit" name="action">Create Post
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>
</body>
</html>