<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head">

</head>
<body>
    <div class="head" th:replace="partials/header.html :: navbar"></div>

    <h2>Create A New Post</h2>
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <input id="title" name="title" placeholder="title" type="text" th:value="*{title}"/>
        <textarea id="body" th:field="*{body}"></textarea>
        <button type="submit" value="create post"></button>
    </form>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>
</body>
</html>