<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head">

</head>
<body>
<h1>This is the edit page</h1>

<form th:action="@{|/posts/${post.id}/edit|}" th:method="POST">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" th:value="${post.title}">

    <label for="body">Body</label>
    <textarea name="body" id="body" th:text="${post.body}"></textarea>

    <button type="submit">Update Post</button>
</form>

<form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
    <button>Delete Post</button>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>
</form>
</body>
</html>