<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head">
</head>
<body>

    <div class="head" th:replace="partials/header.html :: navbar"></div>

    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <h4 th:text="'Authored by: ' + ${post.user.username}"></h4>

        <a th:href="@{|/posts/${post.id}/edit|}">Edit Post</a>


    </div>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>

</body>
</html>