<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .head {background: black; display: flex;}
        a {color: white;}
    </style>

</head>
<body>
    <div class="head">
        <nav class="head" th:fragment="navbar">
            <ul class="head-txt">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/roll-dice}">Roll Dice</a></li>
                <li><a th:href="@{/posts}">View Posts</a></li>
                <li><a th:href="@{/posts/create}">Create Posts</a></li>
            </ul>
        </nav>
    </div>


</body>
</html>