.card-image{
    background-image: url("../images/greenspring.jpg") !important;
}

.parallax-container {
    height:500px;
}

.teal, .lighten-2 {
    opacity: 80% !important;
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
}

.featured-posts-title {
    text-align: center !important;
}

.card {
    margin-top: 50px;
}

textarea {
    height: 400px !important;
}

