.card-image{
    background-image: url("../images/greenspring.jpg") !important;
}

.parallax-container {
    height:500px;
}

.teal, .lighten-2 {
    opacity: 50% !important;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}