
body{
    overflow: scroll;
}

.posts-align{
    overflow: scroll;
}

.card-image{
    background-image: url("../images/greenspring.jpg") !important;
}

.parallax-container {
    height:500px;
    display: flex;
}

.teal, .lighten-2 {
    opacity: 80% !important;
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
}

.featured-posts-title {
    text-align: center !important;
    /*font-family: 'Marck Script', cursive; !important;*/
    color: dimgrey;

}

.spring-blog-title{
    text-align: center;
}

.card {
    margin-top: 50px;
}

textarea {
    height: 400px !important;
}

.background {
    background-color: #ffd5cd;
    /*height: 500px;*/
}

.div-background {
    position: relative;
    top: 100px;
    background-color: white;
    opacity: 80%;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 4px 8px -4px #000000;

}

.dice-style {
    height: 100px !important;
    width: 100px !important;
}

footer, .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
}


.heading {
    text-align: center;
    color: dimgrey;
}


/*.footer {*/
/*    position: absolute;*/
/*    top:100%;*/
/*}*/

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.text-style {
    text-align: center;
    color: dimgrey;
}



