<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head">
    <title>Home</title>
</head>
<body>


    <div th:replace="partials/header.html :: navbar"></div>
    <div class="parallax-container">
        <div class="parallax">
            <img th:src="@{../static/img/greenspring.jpg}" alt="spring-backdrop" class="responsive-img">
        </div>
        <h1>This is the Landing Page</h1>
    </div>




    <div th:include="partials/footer.html :: footer"></div>

    <div th:replace="partials/scripts.html::scripts">
    </div>



</body>
</html>