<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head"></head>

<body>
    <div class="head" th:replace="partials/header.html :: navbar"></div>
    <div class="container">
        <h1>Select a number between 1 and 6</h1>

        <ul class="head-txt">
            <li><a class="head-txt" th:href="@{/roll-dice/1}">1</a></li>
            <li><a class="head-txt" th:href="@{/roll-dice/2}">2</a></li>
            <li><a class="head-txt" th:href="@{/roll-dice/3}">3</a></li>
            <li><a class="head-txt" th:href="@{/roll-dice/4}">4</a></li>
            <li><a class="head-txt" th:href="@{/roll-dice/5}">5</a></li>
            <li><a class="head-txt" th:href="@{/roll-dice/6}">6</a></li>
        </ul>
    </div>




    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>
</body>
</html>