<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head.html::head"></head>

<body class="background">
    <div class="head" th:replace="partials/header.html :: navbar"></div>

    <div class="container div-background ">

       <h2 class="heading">Select A Number Between <span style="color: coral"><i class="fas fa-dice-one"></i></span> And <span style="color: coral"><i class="fas fa-dice-six"></i></span></h2>

        <div class="row">

                <ul>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/1}"><img class="dice-style " src="/images/dice-six-faces-one.png" height="100" width="100"></a></li>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/2}"><img class="dice-style"src="/images/dice-six-faces-two.png"></a></li>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/3}"><img class="dice-style"src="/images/dice-six-faces-three.png"></a></li>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/4}"><img class="dice-style"src="/images/dice-six-faces-four.png"></a></li>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/5}"><img class="dice-style"src="/images/dice-six-faces-five.png"></a></li>
                    <li class="col s2"><a class="head-txt " th:href="@{/roll-dice/6}"><img class="dice-style"src="/images/dice-six-faces-six.png"></a></li>
                </ul>
       </div>

    </div>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/scripts.html::scripts"></div>
</body>
</html>